#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#undef ZMK_POINTING_DEFAULT_SCRL_VAL

#define ZMK_POINTING_DEFAULT_SCRL_VAL 100
#define MOUSE 6

&mt {
    flavor = "balanced";
    quick-tap-ms = <0>;
};

/ {
    //コンボ設定

    combos {
        compatible = "zmk,combos";

        shift_tab {
            bindings = <&kp LS(TAB)>;
            key-positions = <28 29>;
            layers = <0 2 4 1 3 5>;
            timeout-ms = <20>;
        };

        rightclick {
            bindings = <&mkp MB2>;
            key-positions = <12 11>;
        };

        delete {
            bindings = <&kp DELETE>;
            key-positions = <22 23>;
        };

        Left {
            bindings = <&kp LEFT>;
            key-positions = <16 17>;
            layers = <0 2 4 6 7 8>;
        };

        Right {
            bindings = <&kp RIGHT>;
            key-positions = <18 19>;
            layers = <0 2 4 6 7 8>;
        };

        Escape {
            bindings = <&lt_to_layer_0 8 ESCAPE>;
            key-positions = <35 36>;
        };

        LeftClick {
            bindings = <&mkp MB1>;
            key-positions = <12 13>;
            layers = <0 2 4 6 7 8>;
        };

        NumLayerToggle {
            bindings = <&tog 7>;
            key-positions = <25 26>;
        };

        Tab {
            bindings = <&kp TAB>;
            key-positions = <29 30>;
            layers = <0 2 4 1 3 5>;
            timeout-ms = <20>;
        };

        Up {
            bindings = <&kp UP_ARROW>;
            key-positions = <7 8>;
            layers = <0 2 4 6 7 8>;
        };

        Down {
            bindings = <&kp DOWN_ARROW>;
            key-positions = <17 18>;
            layers = <0 2 4 6 7 8>;
        };

        Katakana {
            bindings = <&kp RC(K)>;
            key-positions = <6 7>;
        };

        UpinNum {
            bindings = <&kp UP_ARROW>;
            key-positions = <1 2>;
            layers = <7>;
        };

        Down-in-Num {
            bindings = <&kp DOWN>;
            key-positions = <11 12>;
            layers = <7>;
        };

        Left-in-Num {
            bindings = <&kp LEFT_ARROW>;
            key-positions = <10 11>;
            layers = <7>;
        };

        Right-in-Num {
            bindings = <&kp RIGHT>;
            key-positions = <12 13>;
            layers = <7>;
        };

        Choice-Up {
            bindings = <&kp RS(UP_ARROW)>;
            key-positions = <7 8>;
            layers = <1 3 5>;
        };

        Choice-Down {
            bindings = <&kp RS(DOWN)>;
            key-positions = <17 18>;
            layers = <1 3 5>;
        };

        Choice-Left {
            bindings = <&kp RS(LEFT)>;
            key-positions = <16 17>;
            layers = <1 3 5>;
        };

        Choice-Right {
            bindings = <&kp RS(RIGHT)>;
            key-positions = <18 19>;
            layers = <1 3 5>;
        };

        CloseTab {
            bindings = <&kp LG(W)>;
            key-positions = <0 1>;
            layers = <1 3>;
        };

        CloseApp {
            bindings = <&kp LG(Q)>;
            key-positions = <21 20>;
            layers = <1 3>;
        };

        MacControlMission {
            bindings = <&kp LC(UP_ARROW)>;
            key-positions = <2 3>;
            layers = <0>;
            timeout-ms = <20>;
        };

        MacFullScreen {
            bindings = <&kp LG(LC(F))>;
            key-positions = <1 2>;
            layers = <0>;
            timeout-ms = <20>;
        };

        WinControlMission {
            bindings = <&kp LG(TAB)>;
            key-positions = <2 3>;
            timeout-ms = <20>;
            layers = <2>;
        };

        WinFullScreen {
            bindings = <&kp LG(UP_ARROW)>;
            key-positions = <1 2>;
            timeout-ms = <20>;
            layers = <2>;
        };

        iOS_FullScreen {
            bindings = <&kp LG(LC(F))>;
            key-positions = <1 2>;
            layers = <4>;
        };

        iOS_ControlMission {
            bindings = <&iOS_ControlMission>;
            key-positions = <2 3>;
            timeout-ms = <20>;
            layers = <4>;
        };
    };

    //マクロ(既存のキーの組み合わせ)

    macros {
        to_layer_0: to_layer_0 {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&kp C_AC_NEXT_KEYBOARD_LAYOUT_SELECT &macro_param_1to1 &kp MACRO_PLACEHOLDER>;
            label = "TO_LAYER_0";
        };

        BT0_Layer0: BT0_Layer0 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&bt BT_SEL 0>, <&macro_wait_time 200>, <&to 0>;

            label = "BT0_LAYER0";
        };

        BT1_Layer2: BT1_Layer2 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&bt BT_SEL 1>, <&macro_wait_time 200>, <&to 2>;

            label = "BT1_LAYER2";
        };

        BT2_Layer4: BT2_Layer4 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&bt BT_SEL 2>, <&macro_wait_time 200>, <&to 4>;

            label = "BT2_LAYER4";
        };

        iOS_ControlMission: iOS_ControlMission {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp C_AC_NEXT_KEYBOARD_LAYOUT_SELECT>,
                <&macro_tap>,
                <&kp UP_ARROW>,
                <&macro_release>,
                <&kp C_AC_NEXT_KEYBOARD_LAYOUT_SELECT>;

            label = "IOS_CONTROLMISSION";
        };

        iOS_DeskTop: iOS_DeskTop {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp C_AC_NEXT_KEYBOARD_LAYOUT_SELECT>,
                <&macro_tap>,
                <&kp H>,
                <&macro_release>,
                <&kp C_AC_NEXT_KEYBOARD_LAYOUT_SELECT>;

            label = "IOS_DESKTOP";
        };

        iOS_RightWay: iOS_RightWay {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp C_AC_NEXT_KEYBOARD_LAYOUT_SELECT>,
                <&macro_tap>,
                <&kp RIGHT>,
                <&macro_release>,
                <&kp C_AC_NEXT_KEYBOARD_LAYOUT_SELECT>;

            label = "IOS_RIGHTWAY";
        };

        iOS_LeftWay: iOS_LeftWay {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp C_AC_NEXT_KEYBOARD_LAYOUT_SELECT>,
                <&macro_tap>,
                <&kp LEFT>,
                <&macro_release>,
                <&kp C_AC_NEXT_KEYBOARD_LAYOUT_SELECT>;

            label = "IOS_LEFTWAY";
        };

        MoveAPP_Right: MoveAPP_Right {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press>, <&kp LGUI>, <&macro_tap>, <&kp TAB>;

            label = "MOVEAPP_RIGHT";
        };

        MoveApp_Left: MoveApp_Left {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_GUI>,
                <&macro_tap>,
                <&kp LS(TAB)>;

            label = "MOVEAPP_LEFT";
        };

        MoveApp_Release: MoveApp_Release {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_release>, <&kp LEFT_GUI>;

            label = "MOVEAPP_RELEASE";
            tap-ms = <0>;
        };
    };

    //新たな動作を定義する

    behaviors {
        lt_to_layer_0: lt_to_layer_0 {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_TAP_TO_0";
            bindings = <&mo>, <&to_layer_0>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };

        mouse_scroll: mouse_wheel_scrl {
            compatible = "zmk,behavior-sensor-rotate-var";
            #sensor-binding-cells = <2>;
            bindings = <&msc>, <&msc>;

            tap-ms = <20>;
        };

        tap_dance_copy: tap_dance_copy {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_COPY";
            #binding-cells = <0>;
            bindings = <&kp RG(C)>, <&kp RG(RS(C))>;
        };

        Tap_Hold_Prefer: Tap_Hold_Prefer {
            compatible = "zmk,behavior-hold-tap";
            label = "TAP_HOLD_PREFER";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <250>;
            flavor = "tap-preferred";
        };

        AScrollLayerTapPrefer: AScrollLayerTapPrefer {
            compatible = "zmk,behavior-hold-tap";
            label = "ASCROLLLAYERTAPPREFER";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <240>;
            flavor = "tap-preferred";
        };

        TapDance_Paste: TapDance_Paste {
            compatible = "zmk,behavior-tap-dance";
            label = "TAPDANCE_PASTE";
            #binding-cells = <0>;
            bindings = <&kp RC(V)>, <&kp RS(RC(V))>;
        };

        TapDance_MoveApp_Left: TapDance_MoveApp_Left {
            compatible = "zmk,behavior-tap-dance";
            label = "TAPDANCE_MOVEAPP_LEFT";
            #binding-cells = <0>;
            bindings = <&TapDance_MoveApp_Left>, <&MoveApp_Release>;
        };

        TapDance_MoveApp_Right: TapDance_MoveApp_Right {
            compatible = "zmk,behavior-tap-dance";
            label = "TAPDANCE_MOVEAPP_RIGHT";
            #binding-cells = <0>;
            bindings = <&MoveAPP_Right>, <&MoveApp_Release>;
        };

        Mac_AppRight: Mac_AppRight {
            compatible = "zmk,behavior-hold-tap";
            label = "MAC_APPRIGHT";
            bindings = <&MoveApp_Release>, <&MoveAPP_Right>;

            #binding-cells = <2>;
            tapping-term-ms = <240>;
            flavor = "tap-preferred";
        };

        Mac_MoveLeft: Mac_MoveLeft {
            compatible = "zmk,behavior-hold-tap";
            label = "MAC_MOVELEFT";
            bindings = <&MoveApp_Release>, <&MoveApp_Left>;

            #binding-cells = <2>;
            tapping-term-ms = <240>;
            flavor = "tap-preferred";
        };

        JapEng_HoldShift: JapEng_HoldShift {
            compatible = "zmk,behavior-tap-dance";
            label = "JAPENG_HOLDSHIFT";
            #binding-cells = <0>;
            bindings = <&kp LANGUAGE_2>, <&mt LEFT_SHIFT LANGUAGE_1>;
        };
    };

    //キーマップ設定

    keymap {
        compatible = "zmk,keymap";

        Mac-Default_Layer {
            bindings = <
&kp Q                       &kp W   &kp E  &kp R  &kp T          &kp Y          &kp U              &kp I                   &kp L                &kp P
&AScrollLayerTapPrefer 6 A  &kp S   &kp D  &kp F  &kp G          &kp H          &kp J              &kp K                   &kp O                &kp PERIOD
&kp Z                       &kp X   &kp C  &kp V  &kp B          &trans         &trans             &kp N                   &kp M                &kp SLASH                &kp MINUS              &kp COMMA
&kp F11                     &kp F4                &lt 1 ENTER    &kp BACKSPACE  &JapEng_HoldShift  &lt_to_layer_0 7 SPACE  &mt RIGHT_ALT RG(Z)  &mt RIGHT_GUI RS(RG(Z))  &mt RCTRL EXCLAMATION  &kp QUESTION
            >;

            sensor-bindings =
                <&mouse_scroll SCRL_UP SCRL_DOWN>,
                <&mouse_scroll SCRL_UP SCRL_DOWN>;
        };

        Mac-Window_Editting {
            bindings = <
&kp LC(LEFT)          &kp LC(RIGHT)          &kp LEFT_GUI      &kp TAB            &kp LG(T)           &kp RG(RS(GREATER_THAN))  &kp RG(B)   &kp RG(U)        &kp CAPSLOCK  &kp INSERT
&kp LG(LEFT_BRACKET)  &kp LG(RIGHT_BRACKET)  &kp LA(LG(LEFT))  &kp LG(LA(RIGHT))  &kp LG(UP_ARROW)    &kp RG(RS(LESS_THAN))     &kp HOME    &kp END          &kp RA(LEFT)  &kp RA(RIGHT)
&kp LG(S)             &kp LG(R)              &kp LC(PAGE_UP)   &kp LC(PAGE_DOWN)  &kp LG(DOWN)        &kp LG(F)                 &kp RC(F5)  &kp RG(A)        &kp RS(HOME)  &kp RS(END)    &kp RS(RA(LEFT))  &kp RS(RA(RIGHT))
&kp LC(LA(LG(LEFT)))  &kp LC(LA(LG(RIGHT)))                                       &trans              &kp LS(LG(NUMBER_4))      &kp RG(X)   &tap_dance_copy  &kp RG(V)     &kp RS(RG(V))  &kp RG(P)         &kp RA(RC(RG(D)))
            >;

            sensor-bindings =
                <&mouse_scroll SCRL_LEFT SCRL_RIGHT>,
                <&mouse_scroll SCRL_LEFT SCRL_RIGHT>;
        };

        Win-Default_Layer {
            bindings = <
&kp Q                       &kp W   &kp E  &kp R  &kp T          &kp Y          &kp U              &kp I        &kp L                &kp P
&AScrollLayerTapPrefer 6 A  &kp S   &kp D  &kp F  &kp G          &kp H          &kp J              &kp K        &kp O                &kp PERIOD
&kp Z                       &kp X   &kp C  &kp V  &kp B          &trans         &trans             &kp N        &kp M                &kp SLASH            &kp MINUS                  &kp COMMA
&kp LG(D)                   &trans                &lt 3 ENTER    &kp BACKSPACE  &JapEng_HoldShift  &lt 7 SPACE  &mt RIGHT_ALT RC(Z)  &mt RCTRL RS(RC(Z))  &mt RIGHT_GUI EXCLAMATION  &kp QUESTION
            >;

            sensor-bindings =
                <&mouse_scroll SCRL_UP SCRL_DOWN>,
                <&mouse_scroll SCRL_UP SCRL_DOWN>;
        };

        Win_Window-Editting {
            bindings = <
&kp LC(LG(LEFT))  &kp LC(LG(RIGHT))  &kp LEFT_ALT     &kp TAB            &kp LC(T)           &kp RS(RC(GREATER_THAN))  &kp RC(B)   &kp RC(U)  &kp CAPSLOCK     &kp INSERT
&kp LA(LEFT)      &kp LA(RIGHT)      &kp LS(LC(TAB))  &kp LC(TAB)        &kp LA(UP_ARROW)    &kp RS(RC(LESS_THAN))     &kp HOME    &kp END    &kp RA(LEFT)     &kp RA(RIGHT)
&kp LC(S)         &kp F5             &kp LC(PAGE_UP)  &kp LC(PAGE_DOWN)  &kp LA(DOWN)        &kp LC(F)                 &kp RA(F4)  &kp RC(A)  &kp RS(HOME)     &kp RS(END)    &kp RS(RA(LEFT))  &kp RS(RA(RIGHT))
&kp LG(LEFT)      &kp LG(RIGHT)                                          &trans              &kp LS(LG(S))             &kp RC(X)   &kp RC(C)  &TapDance_Paste  &kp RG(V)      &kp RC(P)         &kp RG(H)
            >;

            sensor-bindings =
                <&mouse_scroll SCRL_LEFT SCRL_RIGHT>,
                <&mouse_scroll SCRL_LEFT SCRL_RIGHT>;
        };

        IOS_Default {
            bindings = <
&kp Q                       &kp W   &kp E  &kp R  &kp T          &kp Y          &kp U              &kp I        &kp L                &kp P
&AScrollLayerTapPrefer 6 A  &kp S   &kp D  &kp F  &kp G          &kp H          &kp J              &kp K        &kp O                &kp DOT
&kp Z                       &kp X   &kp C  &kp V  &kp B          &trans         &trans             &kp N        &kp M                &kp SLASH                &kp MINUS              &kp COMMA
&iOS_DeskTop                &trans                &lt 5 ENTER    &kp BACKSPACE  &JapEng_HoldShift  &lt 7 SPACE  &mt RIGHT_ALT RG(Z)  &mt RIGHT_GUI RS(RG(Z))  &mt RCTRL EXCLAMATION  &kp QUESTION
            >;
        };

        iOS_Window_Editting {
            bindings = <
&iOS_LeftWay          &iOS_RightWay          &kp LEFT_GUI          &kp TAB                &trans    &trans  &trans  &trans  &trans  &trans
&kp LG(LEFT_BRACKET)  &kp LG(RIGHT_BRACKET)  &kp LC(LS(TAB))       &kp LC(TAB)            &trans    &trans  &trans  &trans  &trans  &trans
&kt LC(LS(TAB))       &kp LC(TAB)            &kp LG(LEFT_BRACKET)  &kp LG(RIGHT_BRACKET)  &trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans                &trans                                                              &trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };

        Scroll {
            bindings = <
&trans  &trans     &kp PAGE_UP    &kp LG(PLUS)   &kp K_SCROLL_UP       &trans  &kp C_VOLUME_UP    &kp C_BRIGHTNESS_INC  &trans      &trans
&trans  &kp LCTRL  &kp PAGE_DOWN  &kp LG(MINUS)  &kp C_AC_SCROLL_UP    &trans  &kp C_VOLUME_DOWN  &kp C_BRIGHTNESS_DEC  &trans      &trans
&trans  &trans     &trans         &kp LG(N0)     &msc SCRL_UP          &trans  &trans             &trans                &kp C_MUTE  &trans  &trans  &trans
&trans  &trans                                   &msc MOVE_X(10)       &trans  &trans             &trans                &trans      &trans  &trans  &trans
            >;
        };

        Num_Symbles {
            bindings = <
&trans       &kp N7        &kp N8        &kp N9        &kp TILDE     &kp DOLLAR     &kp SINGLE_QUOTE  &kp DOUBLE_QUOTES  &kp SEMICOLON         &trans
&kp N0       &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp COLON     &kp AMPERSAND  &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp PLUS              &kp EQUAL
&kp PERCENT  &kp NUMBER_4  &kp N5        &kp NUMBER_6  &kp PERIOD    &trans         &trans            &kp AT_SIGN        &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp MINUS  &kp SLASH
&trans       &trans                                    &kp ENTER     &kp BACKSPACE  &trans            &trans             &kp LESS_THAN         &kp GREATER_THAN       &trans     &kp UNDERSCORE
            >;
        };

        Setting {
            bindings = <
&trans        &trans       &trans       &trans       &trans    &bt BT_CLR  &trans          &trans  &trans  &bt BT_CLR_ALL
&bt BT_SEL 3  &BT2_Layer4  &BT1_Layer2  &BT0_Layer0  &trans    &trans      &trans          &trans  &trans  &trans
&bt BT_SEL 4  &to 4        &to 2        &to 0        &trans    &trans      &studio_unlock  &trans  &trans  &trans          &trans      &trans
&bootloader   &sys_reset                             &trans    &trans      &trans          &trans  &trans  &trans          &sys_reset  &bootloader
            >;
        };
    };
};
