#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#undef ZMK_POINTING_DEFAULT_SCRL_VAL

#define ZMK_POINTING_DEFAULT_SCRL_VAL 100
#define MOUSE 6

&mt {
    flavor = "balanced";
    quick-tap-ms = <0>;
};

/ {
    //コンボ設定

    combos {
        compatible = "zmk,combos";

        shift_tab {
            bindings = <&kp LS(TAB)>;
            key-positions = <2 1>;
        };

        rightclick {
            bindings = <&mkp MB2>;
            key-positions = <11 10>;
        };

        backspace {
            bindings = <&kp BACKSPACE>;
            key-positions = <21 22>;
        };

        delete {
            bindings = <&kp DELETE>;
            key-positions = <22 23>;
        };

        LeftBracket {
            bindings = <&kp LEFT_BRACKET>;
            key-positions = <6 7>;
        };

        rightbracket {
            bindings = <&kp RIGHT_BRACKET>;
            key-positions = <7 8>;
        };

        comma {
            bindings = <&kp COMMA>;
            key-positions = <28 29>;
        };

        Period {
            bindings = <&kp PERIOD>;
            key-positions = <16 17>;
        };

        UpArrow {
            bindings = <&kp UP_ARROW>;
            key-positions = <17 18>;
        };

        DownArrow {
            bindings = <&kp DOWN>;
            key-positions = <29 30>;
        };

        Escape {
            bindings = <&lt_to_layer_0 8 ESCAPE>;
            key-positions = <35 36>;
        };

        Scroll {
            bindings = <&mo 6>;
            key-positions = <12 11>;
        };

        LeftClick {
            bindings = <&mkp MB1>;
            key-positions = <12 13>;
        };

        NumLayerToggle {
            bindings = <&tog 5>;
            key-positions = <25 26>;
        };

        Tab {
            bindings = <&kp TAB>;
            key-positions = <2 3>;
        };
    };

    //マクロ(既存のキーの組み合わせ)

    macros {
        to_layer_0: to_layer_0 {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&kp C_AC_NEXT_KEYBOARD_LAYOUT_SELECT &macro_param_1to1 &kp MACRO_PLACEHOLDER>;
            label = "TO_LAYER_0";
        };
    };

    //新たな動作を定義する

    behaviors {
        lt_to_layer_0: lt_to_layer_0 {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_TAP_TO_0";
            bindings = <&mo>, <&to_layer_0>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };

        mouse_scroll: mouse_wheel_scrl {
            compatible = "zmk,behavior-sensor-rotate-var";
            #sensor-binding-cells = <2>;
            bindings = <&msc>, <&msc>;

            tap-ms = <20>;
        };

        tap_dance: tap_dance {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE";
            #binding-cells = <0>;
            bindings = <&kp LANGUAGE_2>, <&kp LANGUAGE_1>;
        };
    };

    //キーマップ設定

    keymap {
        compatible = "zmk,keymap";

        Mac-Default_Layer {
            bindings = <
&kp Q             &kp W     &kp E  &kp R  &kp T                 &kp Y        &kp U               &kp I             &kp L           &kp P
&kp A             &kp S     &kp D  &kp F  &kp G                 &kp H        &kp J               &kp K             &kp O           &mt RIGHT_SHIFT HOME
&mt LEFT_SHIFT Z  &kp X     &kp C  &kp V  &kp B                 &trans       &trans              &kp N             &kp M           &kp LEFT              &kp RIGHT   &mt RIGHT_GUI END
&lt 9 LC(K)       &kp CLCK                &mt LEFT_GUI ENTER    &lt 2 SPACE  &mt LCTRL QUESTION  &lt 5 LANGUAGE_2  &kp LANGUAGE_1  &mt RIGHT_ALT MINUS   &kp INSERT  &kp AT_SIGN
            >;

            sensor-bindings =
                <&mouse_scroll SCRL_UP SCRL_DOWN>,
                <&mouse_scroll SCRL_UP SCRL_DOWN>;
        };

        Win-Default_Layer {
            bindings = <
&kp Q               &kp W     &kp E  &kp R  &kp T          &kp Y      &kp U           &kp I                 &kp O                   &kp P
&lt_to_layer_0 6 A  &kp S     &kp D  &kp F  &kp G          &kp H      &kp J           &kp K                 &kp L                   &kp HOME
&mt LEFT_SHIFT Z    &kp X     &kp C  &kp V  &kp B          &trans     &trans          &kp N                 &kp M                   &kp LEFT  &kp RIGHT   &kp END
&kp F7              &kp CAPS                &lt 4 LCTRL    &kp ENTER  &kp LANGUAGE_2  &mt RCTRL LANGUAGE_1  &mt RIGHT_ALT QUESTION  &tog 5    &kp INSERT  &kp AT_SIGN
            >;

            sensor-bindings =
                <&mouse_scroll SCRL_UP SCRL_DOWN>,
                <&mouse_scroll SCRL_UP SCRL_DOWN>;
        };

        Mac-Window_Layer {
            bindings = <
&trans                &kp LG(LA(LC(LEFT)))  &kp LG(LA(LC(RIGHT)))  &kp LC(PAGE_UP)   &kp LC(PAGE_DOWN)       &kp C_BRIGHTNESS_INC  &kp C_VOLUME_UP    &trans             &trans      &trans
&kp F11               &kp LC(LEFT_ARROW)    &kp LC(RIGHT)          &kp LC(UP_ARROW)  &kp LC(LG(F))           &kp C_BRIGHTNESS_DEC  &kp K_VOLUME_DOWN  &kp LC(LA(LG(D)))  &trans      &trans
&mt LEFT_SHIFT LG(R)  &kp LG(LEFT_BRACKET)  &kp LG(RIGHT_BRACKET)  &kp LG(LA(LEFT))  &kp LA(LG(RIGHT))       &trans                &trans             &trans             &kp C_MUTE  &trans  &trans  &trans
&kp F4                &trans                                                         &kp LS(LG(NUMBER_4))    &trans                &trans             &trans             &trans      &trans  &trans  &trans
            >;

            sensor-bindings =
                <&mouse_scroll SCRL_LEFT SCRL_RIGHT>,
                <&mouse_scroll SCRL_LEFT SCRL_RIGHT>;
        };

        WIN-Window_Layer {
            bindings = <
&trans  &kp LA(LEFT_ARROW)  &kp RIGHT  &kp LC(R)  &kp LC(F5)    &trans  &trans  &trans  &trans  &trans
&trans  &trans              &trans     &trans     &trans        &trans  &trans  &trans  &trans  &trans
&trans  &trans              &trans     &trans     &trans        &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans                                    &trans        &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };

        Win-Function_Layer {
            bindings = <
&kp LC(A)       &kp LC(X)     &kp LC(C)    &kp LC(V)  &kp LC(LS(V))    &kp LESS_THAN         &kp GREATER_THAN       &kp CARET         &kp PERCENT        &kp DOLLAR
&kp TAB         &kp LEFT_GUI  &kp LS(TAB)  &mkp MB1   &mkp MB2         &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp AT_SIGN       &kp AMPERSAND      &kp DOUBLE_QUOTES
&kp LEFT_SHIFT  &trans        &trans       &trans     &mkp MB3         &trans                &kp NON_US_BACKSLASH   &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp EXCLAMATION    &kp QUESTION  &kp SINGLE_QUOTE
&kp LCTRL       &trans                                &trans           &trans                &kp BACKSPACE          &kp ENTER         &trans             &trans             &trans        &kp HASH
            >;

            sensor-bindings =
                <&mouse_scroll SCRL_LEFT SCRL_RIGHT>,
                <&mouse_scroll SCRL_LEFT SCRL_RIGHT>;
        };

        Num_Symbols {
            bindings = <
&trans                     &kp N7        &kp N8        &kp N9        &kp N0                &kp DOLLAR       &kp DOUBLE_QUOTES     &kp SQT                &kp PERCENT     &kp TILDE
&kp UP_ARROW               &kp NUMBER_4  &kp N5        &kp NUMBER_6  &kp COLON             &kp EXCLAMATION  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp SLASH       &kp EQUAL
&mt LEFT_SHIFT DOWN_ARROW  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp PERIOD            &trans           &trans                &kp AMPERSAND          &kp LESS_THAN   &kp GREATER_THAN  &kp PLUS       &kp MINUS
&kp LEFT                   &kp RIGHT                                 &mt LEFT_GUI ENTER    &kp SPACE        &trans                &kp LANGUAGE_2         &kp LANGUAGE_1  &trans            &kp SEMICOLON  &kp UNDERSCORE
            >;
        };

        Scroll {
            bindings = <
&trans  &trans  &trans  &kp LG(PLUS)   &kp LG(N0)    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &kp LCTRL      &trans        &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &kp LG(MINUS)  &trans        &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans                         &trans        &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };

        Auto-MOUSE_Layer {
            bindings = <
&trans     &trans  &trans    &trans    &trans          &trans  &trans    &trans    &trans  &trans
&kp LCTRL  &trans  &mkp MB3  &mkp MB1  &msc SCRL_UP    &trans  &mkp MB1  &mkp MB3  &trans  &trans
&trans     &trans  &trans    &trans    &trans          &trans  &trans    &trans    &trans  &trans  &trans  &trans
&trans     &trans                      &trans          &trans  &trans    &trans    &trans  &trans  &trans  &trans
            >;
        };

        Setting {
            bindings = <
&trans        &trans        &trans        &trans        &trans          &bt BT_CLR  &trans          &trans  &trans  &bt BT_CLR_ALL
&bt BT_SEL 4  &bt BT_SEL 3  &bt BT_SEL 2  &bt BT_SEL 1  &bt BT_SEL 0    &trans      &trans          &trans  &trans  &trans
&trans        &trans        &to 1         &to 0         &trans          &trans      &studio_unlock  &trans  &trans  &trans          &trans      &trans
&bootloader   &sys_reset                                &trans          &trans      &trans          &trans  &trans  &trans          &sys_reset  &bootloader
            >;
        };

        iPad_Window {
            bindings = <
&trans  &trans                &trans                 &trans           &trans         &trans     &trans  &trans  &trans  &trans
&kp H   &kp LEFT              &kp RIGHT              &kp UP_ARROW     &trans         &trans     &trans  &trans  &trans  &trans
&trans  &kp LG(LEFT_BRACKET)  &kp LG(RIGHT_BRACKET)  &kp LC(LS(TAB))  &kp LC(TAB)    &trans     &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans                                                        &trans         &kp GLOBE  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };
    };
};
